[submodule "submodules/cpp-masters"]
	path = submodules/cpp-masters
	url = https://github.com/marleeeeeey/cpp-masters.git
[submodule "submodules/cpp-graduate"]
	path = submodules/cpp-graduate
	url = https://github.com/marleeeeeey/cpp-graduate.git
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "submodules/anthonywilliams_code"]
	path = submodules/anthonywilliams_code
	url = https://github.com/marleeeeeey/anthonywilliams_code.git
[submodule "submodules/apolukhin__boost_code"]
	path = submodules/apolukhin__boost_code
	url = https://github.com/marleeeeeey/apolukhin__boost_code.git
